.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the output of the extract task, which contains the large amout of source codes of the Katalon Studio versions
versions/
